.actor-communicator {

}

.actor-communicator .contact-interaction {
    width: 48px;
}

.actor-communicator .screen-button {
    width: 72px;
    height: 72px;
    cursor: pointer;
}

.select-contact {
    cursor: pointer;
}

.actor-communicator-alarm .chat-avatar,
.actor-communicator .chat-avatar {
    width: 36px;
    height: 36px;
}